---

---

<section id="About" class="text-white container mx-auto px-10">
  <div class="md:grid md:grid-cols-12">
    <div class="flex flex-col md:col-start-1 md:col-end-4">
      <p class="text-[#7B4AE2] sm:text-[14px] md:text-[20px] p-[30px]">
        👋 JPaxtor
      </p>
      <div class="md:text-[52px] text-[48px] font-bold">
        <p>Manuel</p>
        <p>Paxtor</p>
      </div>
      <p class="text-[18px] md:text-[20px] text-[#bbb]">
        Front-end developer · UI designer
      </p>
      <div
        class="order-first justify-center md:justify-start md:order-[3] flex gap-3 mt-3"
      >
        <a href="https://github.com/JPaxtor">
          <img
            class="grayscale w-[32px]"
            src="https://skillicons.dev/icons?i=github"
            alt=""
          />
        </a>
        <a
          href="https://www.linkedin.com/in/juan-manuel-paxtor-tecum-3034b8212/"
        >
          <img
            class="grayscale w-[32px]"
            src="https://skillicons.dev/icons?i=linkedin"
            alt=""
          />
        </a>
        <a href="https://www.instagram.com/jpaxtor_tm/">
          <img
            class="grayscale w-[32px]"
            src="https://skillicons.dev/icons?i=instagram"
          />
        </a>
      </div>
    </div>
    <div class="md:col-start-5 md:col-end-9 flex justify-center">
      <img src="../../src/Img/AvatarAndIcons.png" alt="imageAvatar" />
    </div>
    <div
      class="md:col-start-10 md:col-end-12 flex md:flex-col gap-4 justify-center"
    >
      <button
        class="outline-1 py-2 px-5 text-[#7B4AE2] rounded-full shadow-md hover:outline"
      >
        Baixar CV
      </button>
      <button
        class="outline outline-1 py-2 px-5 text-[#7B4AE2] rounded-full shadow-md hover:outline-4"
      >
        Save changes
      </button>
    </div>
  </div>
</section>
