---
import type { loadApp } from "astro/app/node";
import { CardDemo } from "../components/CardPreview";
---

<section>
  <div class="flex">
    <CardDemo
      titleCard="Skill 1"
      descriptionCard="Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis pariatur fuga commodi, vitae consequuntur blanditiis magnam maiores adipisci earum aliquam ipsam, obcaecati, deserunt aspernatur laboriosam illum repudiandae enim ea magni!"
    />
    <CardDemo
      titleCard="Skill 2"
      descriptionCard="Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis pariatur fuga commodi, vitae consequuntur blanditiis magnam maiores adipisci earum aliquam ipsam, obcaecati, deserunt aspernatur laboriosam illum repudiandae enim ea magni!"
    />
    <CardDemo
      titleCard="Skill 3"
      descriptionCard="Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis pariatur fuga commodi, vitae consequuntur blanditiis magnam maiores adipisci earum aliquam ipsam, obcaecati, deserunt aspernatur laboriosam illum repudiandae enim ea magni!"
    />
  </div>
</section>
